//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.hods-ucdm-page, #story-root, #root, body, html {
    background-color: #f5f5f5 !important;
    color: #0b0c0c;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
}


.condition {
    border: 1px solid #b1b4b6;
    background-color: #f3f2f1;
    /* background-color: #ffffff; */
    padding: 30px;
    position: relative;

    fieldset {
        border: 0;
    }
}

.flex {
    display: flex;
}

.close-button {
    border: 1px solid #0C2D4A;
    border-radius: .3125em;
    padding: 5px 10px;
    text-decoration: none;
    // display: flex
;
    align-items: center;
    color: white !important;
    background-color: #1d70b8;
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 16px;
    margin-right: 10px;
    text-align: left;
}

#conditions-container {
    .close-button:visited {
        color: white;
    }

    .close-button:focus {
        color: black !important;
        border: 3px solid black;
        box-shadow: none;
    }
}

.close-icon {
    margin-left: 10px;
}