//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.hods-ucdm-page, #story-root, #root, body, html {
    background-color: #f5f5f5 !important;
    color: #0b0c0c;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
}


.condition {

    .select-subcategories {
        border: 1px solid #b1b4b6;
        background-color: #ffffff;
        padding: 30px;
        position: relative;
        width: 48%;
        margin-right: 2%;
    }

    .subcategories {
        @extend .select-subcategories;
        background-color: #F5F5F5;
    }

    fieldset {
        border: 0;
    }

    
}

.flex {
    display: flex;
}

.close-button {
    border: 1px solid #1d70b8;
    border-radius: .3125em;
    padding: 5px 10px;
    text-decoration: none;
    // display: flex
    display: inline-block;
    align-items: center;
    color: #1d70b8 !important;
    background-color: white;
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#conditions-container {
    .close-button:visited {
        color: white;
    }

    .close-button:focus {
        color: black !important;
        border: 3px solid black;
        box-shadow: none;
    }
}

.close-icon {
    display: inline-flex;
    margin-left: 10px;
    width:14px; /*width of your image*/
    height:14px; /*height of your image*/
    background-image:url('/public/images/close-icon.svg');
    margin-top: 3px;
}

.display-panel {
    background-color: #fff;
    position: relative;
    padding: 40px 14px 20px 14px;
    margin-bottom: 30px;
}

.display-panel:after {
    display: block;
    background-color: #732282;
    content: "";
    width: auto;
    height: 3px;
    left: 20px;
    top: 20px;
    right: 20px;
    position: absolute;
}

.entity-options {
    display: flex;
    align-items: anchor-center;

    img {
        margin-right: 5px;
    }
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    // background-color: black;
    display: inline-block;
}
// a::before {
//   content: "🔗";
// }

// .display-panel h3::before {
//   content: url("/shared-assets/images/examples/firefox-logo.svg");
//   display: inline-block;
//   width: 15px;
//   height: 15px;
//   margin-right: 5px;
// }

#completedBanner {
    display: none;
}

.autocomplete__wrapper * {
  @include govuk-typography-common();
}

#addDataSources {
    margin-left: 10px;
}

#addContactDetails {
    @extend #addDataSources;
}

#addWhereaboutsDetails {
    @extend #addDataSources;
}

#addImmigrationDetails {
    @extend #addDataSources;
}

#addIntelDetails {
    @extend #addDataSources;
}

#addTravelDetails {
    @extend #addDataSources;
}

#removeAllDataSources {
    float: right;
}

#removeAllContactDetails {
    @extend #removeAllDataSources
}

#removeAllWhereaboutsDetails {
    @extend #removeAllDataSources
}

#removeAllImmigrationDetails {
    @extend #removeAllDataSources
}

#removeAllIntelDetails {
    @extend #removeAllDataSources
}

#removeAllTravelDetails {
    @extend #removeAllDataSources
}

.autocomplete__dropdown-arrow-down-wrapper {
    position: relative;
    z-index: 1;
    
    .autocomplete__dropdown-arrow-down {
        z-index: 0;
    }
}


.saved-profile {

    position: relative;
    background-color: white;
    border: 1px solid grey;
    padding: 20px 20px 15px 20px;

    .govuk-summary-list {
        margin-bottom: 0;
    }

    .govuk-summary-list__row {
        border-bottom: none;
    }

    .profile-select-btns {

       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-end;
    }

    .edit-btn {
        margin-top: -50px;
    }

    .select-btn {
        margin-top: 120px;
        margin-bottom: 0;
    }

}

.app-split-pane__nav {
        width: 260px;
        flex: 0 0 auto;
    }

.app-subnav {
    margin-bottom: 100px;
    padding-right: 15px;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
}

.app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}

.app-subnav__section-item {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}

.app-subnav__section-item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    // background-color: #fff;
}

.app-subnav__section-item--current .app-subnav__link {
    font-weight: bold;
}

