{% extends "home-office-kit-layout.html" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block header %}
  {% include "/header-with-nav.html" %}
{% endblock %}


{% block content %}
<!-- Add your page content here -->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1>Universal Enrichment Service (UES)
        <span class="govuk-caption-l">Submit a large volume of data to search over multiple data sources simultaneously</span>
      </h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-button-group govuk-!-margin-top-5">
  <a href="new-request.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  New request
</a>
<a href="settings.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Check your settings
</a>
</div>
      </div>
    </div>
  </main>
</div>







<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Your search history</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">File name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Submitted time</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Template file name 3.xls</th>
      <td class="govuk-table__cell">14:59 30 Apr 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
      <td class="govuk-table__cell"><a href="#">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Template file name 2.xls</th>
      <td class="govuk-table__cell">11:19 29 Apr 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
      <td class="govuk-table__cell"><a href="#">Download</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Template file name 1.xls</th>
      <td class="govuk-table__cell">09:41 28 Apr 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
      <td class="govuk-table__cell"><a href="#">Download</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}