{% extends "home-office-kit-layout.html" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block header %}
  {% include "/header-with-nav.html" %}
{% endblock %}


{% block content %}
<!-- Add your page content here -->

<h1>Other data sources</h1>
<form class="form" action="first-time-user" method="post">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Travel data sources
      </h2>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="travel-data-sources" type="checkbox" value=" API (Advanced Passenger Information)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          API (Advanced Passenger Information)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="travel-data-sources" type="checkbox" value=" BITD (Border and Immigration Transactional Data)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          BITD (Border and Immigration Transactional Data)
        </label>
      </div>
      
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 id="intelligenceDataSources" class="govuk-fieldset__heading">
        Intelligence data sources
      </h2>
    </legend>
    
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <a href="#" role="button" id="selectAllIntel" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Select all
</a>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="organisation" name="intel-data" type="checkbox" value="IMS (Allegations management system)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          IMS (Allegations management system)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="organisation-2" name="intel-data" type="checkbox" value="OCGM (Immigration and border force intelligence)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          OCGM (Immigration and border force intelligence)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="organisation-3" name="intel-data" type="checkbox" value="IMSR (IMS Referrals)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
          IMSR (IMS Referrals)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="organisation-4" name="intel-data" type="checkbox" value="ILRD (Overseas RALON data set)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          ILRD (Overseas RALON data set)        
        </label>
      </div>
       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="organisation-5" name="intel-data" type="checkbox" value="SIP (Single intelligence platform)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-5">
          SIP (Single intelligence platform)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="organisation-6" name="intel-data" type="checkbox" value="S24 (Suspicious marriage reports)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-6">
          S24 (Suspicious marriage reports)
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 id="legacyDataSources" class="govuk-fieldset__heading">
        Legacy data sources
      </h2>
    </legend>
    
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <a href="#" role="button" id="selectAllLegacy" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Select all
</a>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-7" name="legacy-data" type="checkbox" value=" A8 (Accession 8)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-7">
          A8 (Accession 8)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-8" name="legacy-data" type="checkbox" value=" ASYS (Asylum Support System)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-8">
          ASYS (Asylum Support System)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-9" name="legacy-data" type="checkbox" value=" COH (Companies House)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-9">
          COH (Companies House)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-10" name="legacy-data" type="checkbox" value=" GLOBE (GLOBE Work Permit Management System)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-10">
         GLOBE (GLOBE Work Permit Management System)        
        </label>
      </div>
       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-11" name="legacy-data" type="checkbox" value=" HSMP (Highly Skilled Migrants Programme)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-11">
          HSMP (Highly Skilled Migrants Programme)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-12" name="legacy-data" type="checkbox" value=" HPBS (Highly skilled migrants programme - points-based system)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-12">
          HPBS (Highly skilled migrants programme - points-based system)
        </label>
      </div>
       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-13" name="legacy-data" type="checkbox" value=" NOD (National Operations Data)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-13">
          NOD (National Operations Data)
        </label>
      </div>
       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-14" name="legacy-data" type="checkbox" value="PBS (Points based system)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-14">
          PBS (Points based system)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input legacy-checkboxes" id="organisation-15" name="legacy-data" type="checkbox" value="SAW (Seasonal agricultural workers permits)">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-15">
          SAW (Seasonal agricultural workers permits)
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-button-group">
  <button role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
  
</div>

</form>

{% endblock %}