{% extends "home-office-kit-layout.html" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block header %}
  {% include "/header-with-nav.html" %}
{% endblock %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your settings</h1>

  

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Choose your search
          </dt>
          <dd id="typeOfSearch" class="govuk-summary-list__value">
            <!-- {{ data ['choose-data'] }} -->
            Person
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="choose-your-search.html">Change<span class="govuk-visually-hidden">Person</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Unique name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['unique'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a id="breadCrumb-ID-2" class="govuk-link govuk-link--no-visited-state" href="upload-template.html">Change<span class="govuk-visually-hidden">upload template</span></a>
          </dd>
        </div>

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What do you want displayed in your output?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['displayed-in-results'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a id="breadCrumb-ID-3" class="govuk-link govuk-link--no-visited-state" href="what-do-you-want-displayed.html">Change<span class="govuk-visually-hidden"> What do you want displayed in your output?</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Match confidence settings (advanced)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['confidenceOption'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="advanced-options.html">Change<span class="govuk-visually-hidden"> Highlight terms in text</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Data sources (advanced)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dataToHighlightHidden'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="advanced-options.html">Change<span class="govuk-visually-hidden">Default data sources</span></a>
          </dd>
        </div>
        
      
        <div id="contactCheckAnswersAdvanced" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details (advanced)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['contactDataHidden'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="filter-download.html">Change<span class="govuk-visually-hidden">Contact</span></a>
          </dd>
        </div>


        <div id="locationCheckAnswersAdvanced" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location history (advanced)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['whereaboutsDataHidden'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="filter-download.html">Change<span class="govuk-visually-hidden">Location history</span></a>
          </dd>
        </div>
        
        <div id="immigrationCheckAnswersAdvanced" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Immigration report details (advanced)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['immigrationDataHidden'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="filter-download.html">Change<span class="govuk-visually-hidden">Immigration report details</span></a>
          </dd>
        </div>

        <div id="intelCheckAnswersAdvanced" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Intelligence report details (advanced)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['intelDataHidden'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="filter-download.html">Change<span class="govuk-visually-hidden">Intelligence report details</span></a>
          </dd>
        </div>

        <div id="travelCheckAnswersAdvanced" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Travel history details (advanced)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['travelDataHidden'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="filter-download.html">Change<span class="govuk-visually-hidden">Travel history</span></a>
          </dd>
        </div>
      </dl>

      <a href="homepage.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Submit
</a>

    </div>
  </div>

  <div id="whatFiltersToShow" class="govuk-visually-hidden">{{ data['displayed-in-results'] }}</div>
{% endblock %}