{% extends "home-office-kit-layout.html" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block header %}
  {% include "/header-with-nav.html" %}
{% endblock %}


{% block content %}
<!-- Add your page content here -->

<h1>Choose your search</h1>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/people.svg" alt="people-icon">People</h3>
            <!-- <p>A library of patterns, styles and components to help you design consistent and accessible digital services.</p> -->
            <p><a class="govuk-link" href="upload-template.html#people">Search people</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/contact.svg" alt="">Contact numbers</h3>
            <!-- <p>Find a complete A-Z of words and phrases to help you create consistent content for your service that users can easily understand.</p> -->
            <p><a class="govuk-link" href="upload-template.html#contact">Search contact numbers</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/documents.svg" alt=""> Documents</h3>
            <!-- <p>Our standard closely aligns with the Web Content Accessibility Guidelines (WCAG) 2.1 Level AA.</p> -->
            <p><a class="govuk-link" href="upload-template.html#documents">Search documents</a></p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/organisations.svg" alt=""> Organisations</h3>
            <!-- <p>A library of patterns, styles and components to help you design consistent and accessible digital services.</p> -->
            <p><a class="govuk-link" href="upload-template.html#organisations">Search organisations</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/emails.svg" alt=""> Emails</h3>
            <!-- <p>Find a complete A-Z of words and phrases to help you create consistent content for your service that users can easily understand.</p> -->
            <p><a class="govuk-link" href="upload-template.html#emails">Search emails</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/addresses.svg" alt=""> Addresses</h3>
            <!-- <p>Our standard closely aligns with the Web Content Accessibility Guidelines (WCAG) 2.1 Level AA.</p> -->
            <p><a class="govuk-link" href="upload-template.html#addresses">Search addresses</a></p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/IP-addresses.svg" alt=""> IP addresses</h3>
            <!-- <p>A library of patterns, styles and components to help you design consistent and accessible digital services.</p> -->
            <p><a class="govuk-link" href="upload-template.html#ip-addresses">Search IP addresses</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/reference-numbers.svg" alt=""> Reference numbers</h3>
            <!-- <p>Find a complete A-Z of words and phrases to help you create consistent content for your service that users can easily understand.</p> -->
            <p><a class="govuk-link" href="upload-template.html#emails">Search reference numbers</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="display-panel">
            <h3 class="govuk-heading-m entity-options"><img src="/public/images/vehicles.svg" alt=""> Vehicle registrations</h3>
            <!-- <p>Our standard closely aligns with the Web Content Accessibility Guidelines (WCAG) 2.1 Level AA.</p> -->
            <p><a class="govuk-link" href="upload-template.html#vehicles">Search vehicle registrations</a></p>
        </div>
    </div>
</div>

{% endblock %}