{% extends "home-office-kit-layout.html" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block header %}
  {% include "/header-with-nav.html" %}
{% endblock %}


{% block content %}
<!-- Add your page content here -->

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a id="breadCrumb-ID" class="govuk-breadcrumbs__link" href="choose-your-search.html">People</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a id="breadCrumb-ID-2" class="govuk-breadcrumbs__link" href="upload-template.html">Upload template</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Display in results
    </li>
  </ol>
</nav>

<h1>What do you want displayed in the results?</h1>
<!-- <form  class="form" action="filter-download" method="post"></form> -->
<form  class="form" action="matching" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <!-- <a href="#" role="button" id="selectAllIntel" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Select all
</a> -->
      <h2>People</h2>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="p-d" name="displayed-in-results" type="checkbox" value=" Person details" >
        <label class="govuk-label govuk-checkboxes__label" for="p-d">
          Person details
        </label>
      </div>
      <h2>Objects</h2>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="docs" name="displayed-in-results" type="checkbox" value=" Documents ">
        <label class="govuk-label govuk-checkboxes__label" for="docs">
          Documents
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="r-n" name="displayed-in-results" type="checkbox" value=" Reference numbers">
        <label class="govuk-label govuk-checkboxes__label" for="r-n">
          Reference numbers
        </label>
      </div>
      <h2>Locations</h2>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="locatations" name="displayed-in-results" type="checkbox" value=" Addresses">
        <label class="govuk-label govuk-checkboxes__label" for="locatations">
          Addresses
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="c-n" name="displayed-in-results" type="checkbox" value=" Contact numbers">
        <label class="govuk-label govuk-checkboxes__label" for="c-n">
          Contact numbers
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="email" name="displayed-in-results" type="checkbox" value=" Email">
        <label class="govuk-label govuk-checkboxes__label" for="email">
          Email
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="i-l" name="displayed-in-results" type="checkbox" value=" Internet locations">
        <label class="govuk-label govuk-checkboxes__label" for="i-l">
          Internet locations
        </label>
      </div>
      <h2>Events</h2>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="travel" name="displayed-in-results" type="checkbox" value=" Travel">
        <label class="govuk-label govuk-checkboxes__label" for="travel">
          Travel
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="c-t" name="displayed-in-results" type="checkbox" value=" Confirmed travel">
        <label class="govuk-label govuk-checkboxes__label" for="c-t">
          Confirmed travel
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="a-a-c" name="displayed-in-results" type="checkbox" value=" Applications and cases">
        <label class="govuk-label govuk-checkboxes__label" for="a-a-c">
         Applications and cases
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="s-o" name="displayed-in-results" type="checkbox" value=" Suspected offences">
        <label class="govuk-label govuk-checkboxes__label" for="s-o">
          Suspected offences
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input intel-checkboxes" id="offences" name="displayed-in-results" type="checkbox" value=" Offences">
        <label class="govuk-label govuk-checkboxes__label" for="offences">
         Offences
        </label>
      </div>
    </div>
  </fieldset>
</div>



<!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      Do you want to use any other data sources?
    </legend>
    <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="otherDataSources-2" name="advanced" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="otherDataSources-2">
          Yes
        </label>
      </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="otherDataSources" name="advanced" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="otherDataSources">
          No
        </label>
      </div>
      
      
    </div>
  </fieldset>
</div> -->

<div class="govuk-button-group">
  <button id="saveContinue2" role="button" draggable="false" class="govuk-button" data-module="govuk-button" >
    Save and continue
  </button>
  <!-- <button id="advancedOptions" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" >
  Advanced options
</button> -->
</div>

</form>

<!-- <form class="form" action="advanced-options" method="post">
<div class="govuk-button-group">
  <button role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" >
  Advanced options
</button>

</form> -->

{% endblock %}