{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->
    

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Prototype versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Alpha 1.0 A</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Stopped</strong></td>
      <td class="govuk-table__cell"><a href="alpha-tomato-10a/start.html">Start</a></td>
      <td class="govuk-table__cell">Simple journey for MVS</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Alpha 1.0 B</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Stopped</strong></td>
      <td class="govuk-table__cell"><a href="alpha-tomato-10b/start.html">Start</a></td>
      <td class="govuk-table__cell">Advanced journey with settings</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Alpha 1.1 A</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Ready for dev</strong></td>
      <td class="govuk-table__cell"><a href="alpha-tomato-11a/start.html">Start</a></td>
      <td class="govuk-table__cell">Content updates based off user feedback for MVS (phase 1)</td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Alpha 1.2 A</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">in progress</strong></td>
      <td class="govuk-table__cell"><a href="alpha-tomato-12a/start.html">Start</a></td>
      <td class="govuk-table__cell">New iteration with filtering at the end (phase 2)</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Alpha 1.2 B</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">in progress</strong></td>
      <td class="govuk-table__cell"><a href="alpha-tomato-12b/start.html">Start</a></td>
      <td class="govuk-table__cell">New iteration with filtering before submitting (phase 2)</td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Alpha 1.3</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">in progress</strong></td>
      <td class="govuk-table__cell"><a href="alpha-tomato-13a/start.html">Start</a></td>
      <td class="govuk-table__cell">New iteration with filtering before submitting (phase 2)</td>
    </tr>
    
    
  </tbody>
</table>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
