<div class="app-split-pane__nav">
<!-- [html-validate-disable-next no-unused-disable, unique-landmark -- allow 2 navs with the same aria-labelledby because they contain the same information] -->
<nav class="app-subnav" aria-labelledby="app-subnav-heading">
  <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
        <ul class="app-subnav__section">
          <li class="app-subnav__section-item ">
            <!-- app-subnav__section-item--current -->
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="matching.html">
              Matching
            </a>
          </li>
          <li class="app-subnav__section-item ">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="person-details">
              Person details
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="explore-links.html">
              Explore links
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="documents.html">
              Documents
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="contact-numbers.html">
              Contact numbers
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="addresses.html" aria-current="page">
              Addresses
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="email.html">
              Email
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="internet-locations.html">
              Internet locations
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="reference-numbers.html">
              Reference numbers
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="travel.html">
              Travel
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="confirmed-travel.html">
              Confirmed travel
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="applications-cases.html">
              Applications and cases
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="suspected-offences.html">
              Suspected offences
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="offences.html">
              Offences
            </a>
          </li>
          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="links.html">
              Links
            </a>
          </li>
          <!-- <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="relatives.html">
              Relatives
            </a>
          </li> -->
        </ul>
</nav>
</div>