{% extends "home-office-kit-layout.html" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block header %}
  {% include "/header-with-nav.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script src="/public/javascripts/application-autocomplete.js"></script>
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<!-- Add your page content here -->

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a id="breadCrumb-ID" class="govuk-breadcrumbs__link" href="choose-your-search.html">People</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a id="breadCrumb-ID-2" class="govuk-breadcrumbs__link" href="upload-template.html">Upload template</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a id="breadCrumb-ID-3" class="govuk-breadcrumbs__link" href="what-do-you-want-displayed.html">Display in results</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="filter-download.html">Filter results</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Advanced options
    </li>
  </ol>
</nav>
<form id="formId3" class="form" action="check-settings-all-users-submit" method="post">
<h1>Advanced options</h1>
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


  <!-- <div class="govuk-form-group">
  <label class="govuk-label" for="match-settings">
    Match confidence settings
  </label>
  <select class="govuk-select" id="match-settings" name="match-settings">
    <option value="Fuzzy">Broad</option>
    <option value="Recommended" selected>Recommended</option>
    <option value="Strict">Strict</option>
  </select>
</div> -->

<!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <label class="govuk-label govuk-!-font-weight-bold" for="match-settings">
    Match confidence settings
  </label>
    </legend>
    <div id="match-settings" class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confidenceOption" name="confidenceOption" type="radio" value="Broad">
        <label class="govuk-label govuk-radios__label" for="confidenceOption">
          Broad
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confidenceOption-2" name="confidenceOption" type="radio" value="Recommended" checked="checked">
        <label class="govuk-label govuk-radios__label" for="confidenceOption-2">
          Recommended
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confidenceOption-3" name="confidenceOption" type="radio" value="Strict">
        <label class="govuk-label govuk-radios__label" for="confidenceOption-3">
          Strict
        </label>
      </div>
    </div>
  </fieldset>
</div> -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <label class="govuk-label govuk-!-font-weight-bold" for="match-settings">
    Match confidence settings
  </label>
    </legend>
    <!-- <div id="signIn-hint" class="govuk-hint">
      You’ll need an account to prove your identity and complete your Self Assessment
    </div> -->
    <div id="match-settings" class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confidenceOption" name="confidenceOption" type="radio" value="Recommended matching" checked="checked">
        <label class="govuk-label govuk-radios__label" for="confidenceOption">
          Recommended matching
        </label>
        <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
          Provides the level of matching most appropriate to the search type
        </div>
      </div>
     
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confidenceOption-3" name="confidenceOption" type="radio" value="Strict matching">
        <label class="govuk-label govuk-radios__label" for="confidenceOption-3">
          Strict matching
        </label>
        <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
         Decreases the number of results; provides more accurate matches
        </div>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confidenceOption-2" name="confidenceOption" type="radio" value="Broad matching">
        <label class="govuk-label govuk-radios__label" for="confidenceOption-2">
          Broad matching
        </label>
        <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
         Increases the number of results; provides less accurate matches
        </div>
      </div>
    </div>
  </fieldset>
</div>

</div>
<div id="confidenceImages" class="govuk-grid-column-one-half">
  <br>
  <br>
  <br>
  <img class="con con-rec" src="/public/images/confidence-recommended.svg" alt="">
  <img class="con con-fuz" src="/public/images/confidence-fuzzy.svg" alt="">
  <img class="con con-str" src="/public/images/confidence-strict.svg" alt="">
  <!-- <br>
  <br>
  <p class="govuk-body">Annotation info coming soon</p> -->
</div>
</div>
<br>
<br>
<div class="condition">
        <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half select-subcategories">
    
 
            <div class="govuk-form-group">
              <h3 class="govuk-label-wrapper">
                <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
                  Data sources
                  <span class="govuk-caption-m">Search and add data sources</span>
                </label>
              </h3>
              <div class="flex">
                <!-- <input class="govuk-input govuk-input--width-20 govuk-!-margin-right-5" id="termsToHighlight" name="termsToHighlight" type="text" > -->
                <select class="govuk-select" name="choose-data" id="choose-data">
                  <option value="hi" selected></option>          
                  <option value="BRP (Biometric Residence Permit)">BRP</option>
                  <option value="CID (Case Information Database)">CID </option>
                  <option value="CRS (Central Reference System)">CRS</option>
                  <option value="DNB (Dun and Bradstreet)">DNB</option>
                  <option value="GBD (GB Data)">GBD</option>
                  <option value="IABS (Immigration and Asylum Biometric System)">IABS</option>
                  <option value="PCDP (Person Centric Data Platform)">PCDP</option>
                  <option value="WPD (Worldpay)">WPD</option>
                  <option value="ILRD (Overseas RALON data set)">ILRD</option>
                  <option value="OCGM (Immigration and border force intelligence)">OCGM</option>
                  <option value="S24 (Suspicious marriage reports)">S24</option>
                  <option value="SIP (Single intelligence platform)">SIP</option>
                  <option value="IMS (Allegations management system)">IMS</option>
                  <option value="IMSR (IMS Referrals)">IMSR</option>
                  <option value="BITD (Border and Immigration Transactional Data)">BITD</option>
                  <option value="API (Advanced Passenger Information)">API</option>
                  <option value="NEW1">NEW1</option>
                  <option value="NEW2">NEW2</option>
                </select>
                <div class="autocomplete__dropdown-arrow-down-wrapper for-data"><svg class="autocomplete__dropdown-arrow-down" style="top: 8px;" viewBox="0 0 512 512"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9  c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3  z"></path></svg></div>
                <button id="addDataSources" data-module="govuk-button" class="govuk-button govuk-button--secondary">Add</button>
              </div>
              <a class="govuk-link--no-visited-state" id="addAllDataSources" href="#">Add all data sources</a>
            </div>
             </div>
             <div class="govuk-grid-column-one-half subcategories">
               <a class="govuk-link--no-visited-state" id="removeAllDataSources" href="#">Remove all data sources</a>
              <h3 class="govuk-label-wrapper">
                <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
                  Selected data sources
                  <!-- <span class="govuk-caption-m">Add data srouces by searching and using the add button</span> -->
                </label>
              </h3>
             
              <br>
              <span class="tags">
                  <p id="noDataSources">No data sources selected</p>
                <!-- <a href="#" style="color:white" class="close-button" name="dataTypeNew" id="BRP">BRP<span class="close-icon"></span> </a>
                <a href="#" style="color:white" class="close-button" name="dataTypeNew" id="CID">CID<span class="close-icon"></span> </a>
                <a href="#" style="color:white" class="close-button" name="dataTypeNew" id="CRS">CRS<span class="close-icon"></span> </a>
                <a href="#" style="color:white" class="close-button" name="dataTypeNew" id="DNB">DNB<span class="close-icon"></span> </a>
                <a href="#" style="color:white" class="close-button" name="dataTypeNew" id="GBD">GBD<span class="close-icon"></span> </a>
                <a href="#" style="color:white" class="close-button" name="dataTypeNew" id="IABS">IABS<span class="close-icon"></span> </a>
                <a href="#" style="color:white" class="close-button" name="dataTypeNew" id="PCDP">PCDP<span class="close-icon"></span> </a>
                <a href="#" style="color:white" class="close-button" name="dataTypeNew" id="WPD">WPD<span class="close-icon"></span> </a> -->
                
              </span>
              <input class="govuk-visually-hidden" id="dataToHighlightHidden" name="dataToHighlightHidden" type="text" value="BRP, CID, CRS, DNB, GBD, IABS, PCDP, WPD">

            </div>
</div>

</div>
<br>
<button role="button" draggable="false" class="govuk-button" data-module="govuk-button" >
  Save and continue
</button>

</form>
  <!-- <a id="newRequestContinue" href="what-do-you-want-displayed.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Continue
  </a> -->


{% endblock %}