{% extends "home-office-kit-layout.html" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block header %}
  {% include "/header-with-nav.html" %}
{% endblock %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your settings</h1>

  

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Choose your search
          </dt>
          <dd id="typeOfSearch" class="govuk-summary-list__value">
            <!-- {{ data['type'] }} -->

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="choose-your-search.html">Change<span class="govuk-visually-hidden">Person</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New search request
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['fileUpload1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a id="breadCrumb-ID-2" class="govuk-link govuk-link--no-visited-state" href="upload-template.html">Change<span class="govuk-visually-hidden">upload template</span></a>
          </dd>
        </div>

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What do you want displayed in your output?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['displayed-in-results'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a id="breadCrumb-ID-3" class="govuk-link govuk-link--no-visited-state" href="what-do-you-want-displayed.html">Change<span class="govuk-visually-hidden"> What do you want displayed in your output?</span></a>
          </dd>
        </div>
     
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Match confidence settings
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['organisation'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="settings.html">Change<span class="govuk-visually-hidden"> Details to display in results</span></a>
          </dd>
        </div> -->

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Highlight terms in text
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['termsToHighlightHidden'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="settings.html">Change<span class="govuk-visually-hidden"> Highlight terms in text</span></a>
          </dd>
        </div> -->
      
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Default data sources
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['data-sources'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="settings.html">Change<span class="govuk-visually-hidden">Default data sources</span></a>
          </dd>
        </div> -->
        
      
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Travel data sources
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['travel-data-sources'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="settings.html">Change<span class="govuk-visually-hidden">Travel data sources</span></a>
          </dd>
        </div> -->

        

         <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legacy data sources
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legacy-data'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="settings.html">Change<span class="govuk-visually-hidden">Legacy data sources</span></a>
          </dd>
        </div>   -->
      </dl>

      <a href="homepage.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Submit
</a>

    </div>
  </div>
{% endblock %}